<h3>Listado de Héroes</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h5>Héroe borrado <small class="text-danger">{{ deletedHero }}</small></h5>
</div>

<ng-template #nothingWasDeleted>
  <h5>No se ha borrado nada.</h5>
</ng-template>

<button
  *ngIf="heroNamesList.length > 0"
  (click)="removeLastHero()" class="btn btn-outline-danger">
  Borrar útimo héroe
</button>

<ul class="mt-2 list-group">
  <li
    *ngFor="let name of heroNamesList"
    class="list-group-item">
    {{ name }}
  </li>
</ul>
